<div class="user_header2">
	Login Page
</div>

<a href="https://api.instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=code"><img class = "instagram" src = "http://socialfulcrum.com/wp-content/uploads/2015/08/instagram-logo.png"></a>

<div class="articles3">
	<%= form_for @user, url: "/sessions", method: "post" do |f| %>

	  <div>
	    <%= f.text_field :email, placeholder: "Email" %>
	  </div>
	  <div>
	    <%= f.password_field :password, placeholder: "Password"%>
	  </div>
	  <%= f.submit "Sign In", {:class => "login_button_2"} %>

	<% end %> 


	<p class="login_text">If your new please <%= link_to "Signup", new_user_path %></p>
</div>