<h1> Login Page Here </h1>


<%= form_for @user, url: "/sessions", method: "post" do |f| %>

  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <%= f.submit "Sign In" %>

<% end %> 


<p>If your new please <%= link_to "Signup", new_user_path %></p>