<br></h1> Edit Artcile Page </h1>

<%= form_for @article do |form| %>
  
 	<%= form.text_field :title, placeholder: "Title", class: "form-control" %><br>

    <%= form.text_field :city, placeholder: "City" %> <br>

    <%= form.text_field :content, placeholder: "Say What!!" %> <br>

    <%= form.text_field :street, placeholder: "Street Name" %> <br>

    <%= form.text_field :state, placeholder: "State" %> <br>

    <%= form.text_field :country, placeholder: "Country" %> <br>


  <%= form.submit "Update Article!" %>
<% end %> 