<h1> New Article page </h1>



<%= form_for @article do |form| %>
  
 	<%= form.text_field :title, placeholder: "Title", :maxlength => 200, class: "form-control" %><br>

	<%= select(:article, :city_id, [['San Francisco', 1], ['London', 2], ['Gibraltar', 3]]) %><br>

    <%= form.text_field :content, :required => true, placeholder: "Tell us about your date" %> <br>

    <%= form.text_field :street, placeholder: "Street Name" %> <br>

    <%= form.text_field :state, placeholder: "State" %> <br>

    <%= form.text_field :country, placeholder: "Country" %> <br>


  <%= form.submit "Create!" %>
<% end %> 
