<h1>Specific Article Page</h1>

Title: <%= @article.title %><br>

City: <%= @city %><br>
Details: <%= @article.content %><br>
Creaters Name: <%= @author %><br>

	<%= link_to "Edit this Article", edit_article_path(@article) %><br>


	<%= link_to "Delete this Article", delete_article_path(@article), method: :delete, :data => {:confirm => "Are you sure you want to delete this date?"} %><br>

<%= link_to "Back to Profile", user_path(current_user) %>

