<div class="article_create_header">
	User Update
</div>


<div class="articles4">
	<%= form_for @user do |form| %>
	  
	 	<%= form.text_field :first_name, placeholder: "First Name", class: "form-control title_input_field2" %>

	    <%= form.text_field :last_name, placeholder: "Last Name", class: "form-control title_input_field2" %> 

	    <%= form.text_field :city, placeholder: "Planet of Residence", class: "form-control title_input_field2" %>
	  
	    <%= form.email_field :email, placeholder: "Email Address", class: "form-control title_input_field2" %>
	  
	    <%= form.password_field :password, placeholder: "Password", class: "form-control title_input_field2" %>

   		<%= form.file_field :avatar, class: "form-control title_input_field2" %>

	  <%= form.submit "Save changes", :class => 'submit_button2' %>
	<% end %>
</div>